.container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--inverted-bg-color);
  width: 100%;
  height: var(--navbar-height);
}

.links {
  display: flex;
  margin-left: auto;
  gap: 15px;
}